.square{
    width: 40px;
    height: 40px;
    background-color: rgba(57,54,70,0.5);
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
    animation: square 25s linear alternate infinite;
}

@keyframes square {
    to{
        transform: translate(80vw, 100vh);
    }
}
.circle{
    width: 50px;
    height: 50px;
    background-color:  rgba(57,54,70,0.7);
    position: absolute;
    top: 400px;
    left: -100px;
    border-radius: 50%;
    z-index: -1;
    animation: circle 25s linear alternate infinite;
}
@keyframes circle {
    to{
        transform: translate(80vw, -100vh);
    }
}
.rectangle{
    width: 50px;
    height: 80px;
    background-color:  rgba(57,54,70,0.8);
    position: absolute;
    top: 700px;
    left: -50px;
    z-index: -1;
    animation: rectangle 25s linear alternate infinite;
}
@keyframes rectangle {
    to{
        transform: translate(80vw, -50vh);
    }
}